In [ ]:
**Introduction to LOOPS***

In [4]:
my_students=['neha','vishal','payal','shweta','ekta','monu','sumeet','deepali']  #my list

In [1]:
for tempvar in my_students:
print(tempvar)

IndentationError: expected an indented block (<ipython-input-1-0fb111305b3a>, line 2)

In [5]:
for x in my_students:
    print(x)

neha
vishal
payal
shweta
ekta
monu
sumeet
deepali

In [6]:
for x in my_students:
    print(my_students)

['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']
['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']
['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']
['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']
['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']
['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']
['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']
['neha', 'vishal', 'payal', 'shweta', 'ekta', 'monu', 'sumeet', 'deepali']

In [9]:
for x in my_students:
    print(f"YOu guys are awesome,{x.title()}")

YOu guys are awesome,Neha
YOu guys are awesome,Vishal
YOu guys are awesome,Payal
YOu guys are awesome,Shweta
YOu guys are awesome,Ekta
YOu guys are awesome,Monu
YOu guys are awesome,Sumeet
YOu guys are awesome,Deepali

In [13]:
#with indentation and enhancement:
for x in my_students:
    print(f"YOu guys are awesome,{x.title()}")
    print(f"please send us more creative things,{x.title()}\n")

YOu guys are awesome,Neha
please send us more creative things,Neha

YOu guys are awesome,Vishal
please send us more creative things,Vishal

YOu guys are awesome,Payal
please send us more creative things,Payal

YOu guys are awesome,Shweta
please send us more creative things,Shweta

YOu guys are awesome,Ekta
please send us more creative things,Ekta

YOu guys are awesome,Monu
please send us more creative things,Monu

YOu guys are awesome,Sumeet
please send us more creative things,Sumeet

YOu guys are awesome,Deepali
please send us more creative things,Deepali

In [ ]:
**Introduction to if statement:***

In [15]:
cars = ['audi','maruti','toyato','benz','bmw']

In [16]:
for car in cars: #for loop syntax
    if car =='bmw': # equality testing ---->
        print(car.upper())
    else:
        print(car.title())

Audi
Maruti
Toyato
Benz
BMW

In [22]:
rain=0
if rain>0:
    print("I am at home")
else:
    print("I can go out")

I can go out